:root {
  --primary-color: #2563eb;
  --secondary-color: #1e293b;
  --bg-color: #111;
  --text-color: #ffff;
  --max-width: 1200px;
  --border-radius: 8px;
}


body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
}

.head {
  padding: 0.6rem;
  display: flex;
  gap: 5rem;

  h1 {
    font-family: "Bungee Spice", sans-serif;
  }
}

.blog {
  background-color: gray;
  height: 50vh;
  width: 40vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.input {
  height: 120%;
  width: 80%;
  margin-left: 1rem;
  padding: 0.5rem;
}

.post {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
}

.send {
  font-size: 1.5rem;
  color: rgb(57, 188, 197);
}

.content {
  height: 50%;
}

.metadata {
  padding: 1rem;
  display: flex;
  gap: 4rem;
}